body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
}

button:hover {
    opacity: 0.9;
}

button:nth-child(1) {
    background-color: #ffcc00;
    color: #000;
}

button:nth-child(2) {
    background-color: #4caf50;
    color: #fff;
}

button:nth-child(3) {
    background-color: #ff3333;
    color: #fff;
}

button:nth-child(4) {
    background-color: #3366cc;
    color: #fff;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;    
    justify-content: center;
}

select,
input {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

main {
    padding: 20px;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.organization, .project, .person {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: none
}

.correct{
    display: block;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    border-bottom: 1px solid #fff;
}
