body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 4px;
    background-color: #3366cc;
    color: #fff;
}

button:hover {
    opacity: 0.9;
}

#change {
    background-color: #ffcc00;
    color: #000;
}

#add {
    background-color: #4caf50;
    color: #fff;
    display: none;
}

#delete {
    background-color: #ff3333;
    color: #fff;
    display: none;
}

#update {
    background-color: #3366cc;
    color: #fff;
    display: none;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;    
    justify-content: center;
}

select,
input {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

main {
    padding: 20px;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.organization, .project, .person {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: none
}

.correct{
    display: block;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    border-bottom: 1px solid #fff;
}

body.no-scroll {
    overflow: hidden;
  }
  
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    min-width: 250px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 10px;
  }

  #description {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
 
  h1 {
    text-align: center;
  }